.container {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9; 
    color: #172b4d; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 4px rgba(199, 181, 18, 0.1); 
    overflow-y: auto;
}

.sidebarList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebarListItem {
    margin-bottom: 20px;
}

.sidebarLink {
    color: #172b4d; 
    font-weight: 300;
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    height: auto;
}

.sidebarLink:hover {
    background-color: #e1e7fd; 
    color: #8e9929; 
}

.sidebarNestedList {
    padding-left: 20px;
}

.serviceLink {
    text-decoration: none;
    color: #4d4917; 
    font-weight: 300;
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.serviceLink:hover {
    background-color: #e1e7fd; 
    color: #6f7723; 
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    font-size: 24px;
    font-weight: 600;
    color: #172b4d; 
}

.error {
    color: red;
    font-weight: bold;
}

.documentDetails {
    border: 1px solid #dfe1e6;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.serviceDetails {
    border: 1px solid #dfe1e6;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.defaultContent {
    padding: 20px;
}

.paragraph {
    line-height: 1.6;
}