.sidebarToggle {
    margin-left: -240px;
}

.sidebar {
    width: 200px;
    height: 100%;
    background: #293949;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.leftsideNavigation ul,
.leftsideNavigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.leftsideNavigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.leftsideNavigation ul li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    transition: all 200ms ease-in;
}

.leftsideNavigation ul li a:hover {
    color: #1abc9c;
}

.leftsideNavigation ul ul {
    display: none;
}

.leftsideNavigation ul ul li {
    background: #23313f;
    margin: 0;
    border-bottom: none;
}

.leftsideNavigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
}

/* Адаптивность для максимального размера экрана */
@media (max-width: 1200px) {
    .sidebar {
        width: 180px;
    }

    .leftsideNavigation ul li a {
        padding: 16px 0 16px 20px;
        font-size: 11px;
    }

    .leftsideNavigation ul ul li a {
        font-size: 11px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 160px;
    }

    .leftsideNavigation ul li a {
        padding: 14px 0 14px 15px;
        font-size: 10px;
    }

    .leftsideNavigation ul ul li a {
        font-size: 10px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 140px;
    }

    .leftsideNavigation ul li a {
        padding: 12px 0 12px 10px;
        font-size: 9px;
    }

    .leftsideNavigation ul ul li a {
        font-size: 9px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 120px;
    }

    .leftsideNavigation ul li a {
        padding: 10px 0 10px 5px;
        font-size: 8px;
    }

    .leftsideNavigation ul ul li a {
        font-size: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
