/* main.module.css */

.mainSection {
    padding: 50px 20px;
    background: #f6f9fc; /* Фон блока */
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .mainSection {
      padding: 50px;
      max-width: 100%; /* Максимальная ширина блока */
      margin: 0 auto; /* Центрирование по горизонтали */
    }
  }
  